html {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

::selection { background: transparent; color:inherit; }
::-moz-selection { background: transparent; color:inherit; }

#message_avertissement_javascript{

}

.page{

}


/*LISTE MOT*/

.case-mot
{
    cursor: pointer;
    height: 65px;
    text-align: left;
    display: inline-block;
    min-width : 10%;
    max-width : 16%;
    font-size: 1.5em;
}

.case-mot span {
    line-height: 65px;
}

.case-mot:hover{
    background: rgba(216,140,50,0.5);
}


.selected-word{
    color : darkorchid ;
    text-decoration: underline;
}

#calcul{
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ligne{
  max-width: 70%;
    margin: auto;
}

.ligne p {
    display: inline;
}

.separateur {
    display: inline;
    font-size: 1.5em;
}


/*QUESTIONNAIRE*/

.questionnaire{
    font-size: 1.7em;

}

.questionnaire .tete-row{
    margin-bottom: 25px;
}

.questionnaire .desc{
    text-align: right;
}

.questionnaire .radio-button{
    text-align: center;
}

.questionnaire input[type=radio] {
    height: 24px;
    width: 24px;
}

.questionnaire .note {
    text-align: center;
}

.valid-btn{
    display: block;
    margin: auto;
    margin-top: 40px;
}

.valid-btn[disabled]{
    color : darkgray;
}
