html {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: url("../files/cleanbg.jpg");
    background-color : #bdc3c7;
}

body{
    background-color : transparent !important;
}

::selection { background: transparent; color:inherit; }
::-moz-selection { background: transparent; color:inherit; }

#message_avertissement_javascript{

}

#valid-btn-info-form:disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

/*CONSIGNES*/

.consigne-mini{
    background: cornflowerblue;
    text-align: center;
    margin: auto;
    padding: 30px 0px;
    width: 70%;
    min-height: 40px;
    margin-top: 40px;
    border-radius: 25px;
    line-height: 40px;
    font-size: 18px;
    margin-bottom: 20px;
}

.consigne-large{
    background: cornflowerblue;
    text-align: center;
    margin: auto;
    padding: 30px 0px;
    width: 100%;
    min-height: 40px;
    margin-top: 40px;
    border-radius: 25px;
    line-height: 40px;
    font-size: 18px;
    margin-bottom: 20px;
}

.consigne{
    background: cornflowerblue;
    text-align: center;
    margin: auto;
    max-width : 600px;
    min-height: 400px;
    margin-top: 40px;
    border-radius: 25px;
    line-height: 32px;
    font-size: 18px;
}

.consigne form{
    text-align: left;
    margin-left: 215px;
}

.consigne h2{
    padding-top: 40px;
    margin-bottom: 40px;
}

.consigne p{

    padding: 50px 50px  ;
}
.consigne input[type=radio]{
    margin: 20px;

}
.consigne label{
    padding-top: 50px;
    display: block;
}

.consigne-form{
    background: cornflowerblue;
    text-align: center;
    margin: auto;
    max-width : 600px;
    min-height: 400px;
    margin-top: 40px;
    border-radius: 25px;
    font-size: 16px;
}
.consigne-form p{
    padding: 20px 0;
}

.btn-suivant-consigne{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*LISTE MOT*/

.case-mot
{
    cursor: pointer;
    height: 65px;
    text-align: left;
    display: inline-block;
    min-width : 10%;
    max-width : 16%;
    font-size: 1.5em;
    color : black;
}

.case-mot span {
    line-height: 65px;
}

.case-mot:hover{
    background: rgba(216,140,50,0.5);
}


.selected-word{
    color : dodgerblue ;
    text-decoration: underline;
}

#calcul{
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ligne{
  max-width: 70%;
    margin: auto;
    text-align: center;
    background: white;

}

.ligne p {
    display: inline;
}

.separateur {
    display: inline;
    font-size: 1.5em;
}


/*QUESTIONNAIRE*/

.questionnaire{
    font-size: 1.7em;
    color : whitesmoke;

}

.questionnaire .tete-row{
    margin-bottom: 25px;
}

.questionnaire .desc{
    text-align: right;
}

.questionnaire .radio-button{
    text-align: center;
    max-width: 40px;
}

.questionnaire input[type=radio] {
    height: 24px;
    width: 24px;
}

.questionnaire .note {
    text-align: center;
    max-width: 40px;
}

.questionnaire span{
    font-size: 16px;
}

.valid-btn{
    display: block;
    margin: auto;
    margin-top: 40px;
    color: black;
}

.valid-btn[disabled]{
    color : darkgray;
}


/* MEDIA Q */

@media screen and (max-width: 1365px) {
    .questionnaire span{
        font-size: 14px;
    }

    .case-mot
    {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1200px) {
    .questionnaire span{
        font-size: 12px;
    }

    .case-mot
    {
        font-size: 1.2em;
    }
}
